# <h1 align="center">For Loop</h1>
Note: For loop - I have used 'i' you can use any alphabet or word but not number.

## 1. To print Given Number in Column

In [8]:
n = int(input("Enter your Number"))

for i in range(n):
        print("* ")

Enter your Number 4

*
*
*
*

### 1.1. To print Given Number in Row
By default, the print() function automatically adds a newline character '(\n)' to the end of the line, making subsequent print statements appear on new lines.

The 'end =' parameter allows you to override this default behavior and you can specify an alternative ending, such as a space, a comma, an exclamation mark, or an empty string, to control the output format.

In [10]:
n = int(input("Enter your Number"))

for i in range(n):
        print("* ", end = " ")  ## end = allows to override the default behavior print characters in single row.

Enter your Number 4

*  *  *  *

## 2. To print square pattern with * symbols

In [12]:
n = int(input("Enter your Number"))

for i in range(n):
    print("* "*n)

Enter your Number 4

* * * *
* * * *
* * * *
* * * *

### 2.1. Square pattern with provided fixed digit

In [28]:
n = int(input("Enter your Number"))

for i in range(n):             ## i = 0,1,2,3
    print( (str(n)+" ")*n)

Enter your Number 4

4 4 4 4
4 4 4 4
4 4 4 4
4 4 4 4

### 2.2. Square pattern with provided fixed digit in every row from small value to big vlaue

In [34]:
n = int(input("Enter your Number"))

for i in range(n):            ## i = 0,1,2,3
    print((str(i+1)+" ")*n)   ## as we need out will inceased by every row so we have to plus 'i' with 1 (i+1).

Enter your Number 4

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [343]:
n = int(input("Enter your Number"))

for i in range(n):
    print((str(n-i)+" ")*n)

Enter your Number 4

4 4 4 4
3 3 3 3
2 2 2 2
1 1 1 1

### 2.3. Square pattern with provided fixed digit in every row from big value to small value

In [799]:
n=int(input("Enter your Number"))

for i in range(n):
    for j in range(n):
        print(str(j+1), end=" ")
    print()

Enter your Number 4

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

### 2.4. To print square pattern with fixed alphabet symbol

In [38]:
n = int(input("Enter your Number"))

for i in range(n):
    print("A " *n)

Enter your Number 4

A A A A
A A A A
A A A A
A A A A

### 2.5. To print square pattern with different alphabet symbol in every row¶

In [53]:
## Nested loop not required as values in row are similar.

n = int(input("Enter your Number"))

for i in range(n):
    print((chr(65+i)+" ")*n)  ## we used character 'chr' and i am using ASCII uppercase letters number starts with 65 and lowercase start with 97.

Enter your Number 4

A A A A
B B B B
C C C C
D D D D

In [344]:
n = int(input("Enter your Number"))

for i in range(n):
    print((chr(64+n-i)+" ")*n)

Enter your Number 4

D D D D
C C C C
B B B B
A A A A

### 2.6. To print square pattern with different alphabet symbol in every row and column

In [806]:
n = int(input("Enter your Number"))

for i in range(n):                    ## i=0,1,2,3  Horizontal you can say row
    for j in range(n):                ## j=0,1,2,3  Vertical you can say column
        print((chr(65+j)), end=" ")
    print()

Enter your Number 4

A B C D
A B C D
A B C D
A B C D

## 3. Right Angle Triangle pattern with * symbol¶

In [804]:
n = int(input("Enter your Number"))

for i in range(n):
    print("* "*(i+1))

Enter your Number 4

*
* *
* * *
* * * *

### 3.1. Right Angle Triangle pattern with provided fixed digit

In [111]:
n = int(input("Enter your Number"))

for i in range(n):
    print((str(n)+" ")*(i+1))

Enter your Number 4

4
4 4
4 4 4
4 4 4 4

### 3.2. Right Angle Triangle pattern with fixed digits in every row

In [142]:
n = int(input("Enter your Number"))

for i in range(n):
    print((str(i+1)+" ")*(i+1))

Enter your Number 4

1
2 2
3 3 3
4 4 4 4

### 3.3. Right Angle Triangle pattern with digits in every row and column

In [191]:
n = int(input("Enter your Number"))

for i in range(n):
    for j in range(i+1):
        print(j+1, end= " ")
    print()

Enter your Number 4

1
1 2
1 2 3
1 2 3 4

### 3.4. Right Angle Triangle pattern with fixed alphabet symbol

In [112]:
n = int(input("Enter your Number"))

for i in range(n):       ## i = 0,1,2,3 increase by each row by +1.
    print("A " * (i+1))

Enter your Number 4

A
A A
A A A
A A A A

### 3.5. Right Angle Triangle pattern with different alphabet symbol in every row

In [48]:
n = int(input("Enter your Number"))

for i in range(n):
    print((chr(65+i)+" ")*(i+1))

Enter your Number 4

A
B B
C C C
D D D D

### 3.6. Right Angle Triangle pattern with different alphabet symbol in every row and column

In [193]:
n = int(input("Enter your Numver"))

for i in range(n):
    for j in range(i+1):
        print((chr(65+j)), end=" ")
    print()

Enter your Numver 4

A
A B
A B C
A B C D

## 4. Inverted Right Angle Triangle pattern with * symbols

In [60]:
n = int(input("Enter your Number"))

for i in range(n):
    print("* " * (n-i))

Enter your Number 4

* * * *
* * *
* *
*

### 4.1. Inverted Right Angle Triangle pattern with fixed Digits

In [118]:
n = int(input("Enter your Number"))

for i in range(n):
        print((str(n)+" ")*(n-i))

Enter your Number 4

4 4 4 4
4 4 4
4 4
4

### 4.2. Inverted Right Angle Triangle pattern with different Digits every row

In [808]:
n = int(input("Enter your Number"))

for i in range(n):
    print((str(n-i)+" ")*(n-i))

Enter your Number 4

4 4 4 4
3 3 3
2 2
1

 ### 4.3. Inverted Right Angle Triangle pattern with digits in every row and column

In [103]:
n = int(input("Enter your Number"))

for i in range(n):
    for j in range(n-i):
        print(j+1, end =" ")
    print()

Enter your Number 4

1 2 3 4
1 2 3
1 2
1

### 4.4. Inverted Right Angle Triangle pattern with fixed Alphabet symbol

In [121]:
n = int(input("Enter your Number"))

for i in range(n):
    print("A " *(n-i))

Enter your Number 4

A A A A
A A A
A A
A

### 4.5. Inverted Right Angle Triangle pattern with Different Alphabet symbol in every row

In [122]:
n = int(input("Enter your Number"))

for i in range(n):
    print((chr(65+i)+" ")*(n-i))

Enter your Number 4

A A A A
B B B
C C
D

### 4.6. Inverted Right Angle Triangle pattern with Different Alphabet symbol in every row and cloumn

In [341]:
n = int(input("Enter your Number"))

for i in range(n):
    for j in range(n-i):
        print((chr(65+j)+" "), end= "")  ## opposite 'print((chr(64+n-j)+" "), end = "")'
    print()

Enter your Number 4

A B C D
A B C
A B
A

## 5. To print Pyramid pattern with * symbol

In [810]:
n = int(input("Enter your Number"))

for i in range(n):
    print((" "*(n-i))+"* "*(i+1))

Enter your Number 4

    *
   * *
  * * *
 * * * *

### 5.1. To print Pyramid pattern with fixed digit

In [462]:
n = int(input("Enter your Number"))

for i in range(n):
    print((" "*(n-i))+(str(n)+" ")*(i+1))

Enter your Number 4

    4
   4 4
  4 4 4
 4 4 4 4

### 5.2. To print Pyramid pattern with fixed digit in every row

In [461]:
n = int(input("Enter your Number"))

for i in range(n):
    print(" "*(n-i)+(str(i+1)+" ")*(i+1)) ## if we have to take plys operator we need to convert i+1 integer to string.

Enter your Number 4

    1
   2 2
  3 3 3
 4 4 4 4

### 5.3. To print Pyramid pattern with fixed digit in every row and Column

In [575]:
n = int(input("Enter your Number"))

for i in range(n):
    print(" "*(n-i), end = " ")
    for j in range(i+1):
        print(j+1, end = " ")   ## if 'print((str(n-j), end = ""))' used then it starts with 4, 4 3, 4 3 2, 4 3 2 1
    print()

Enter your Number 4

     1
    1 2
   1 2 3
  1 2 3 4

### 5.4. To print Pyramid pattern with fixed Alphabet symbol

In [459]:
n = int(input("Enter your Number"))

for i in range(n):
    print((" "*(n-i))+"A "*(i+1))

Enter your Number 4

    A
   A A
  A A A
 A A A A

### 5.5. To print Pyramid pattern with different Alphabet symbol in every row

In [457]:
n = int(input("Enter your Number"))

for i in range(n):
    print((" "*(n-i))+(chr(65+i)+" ")*(i+1))

Enter your Number 4

    A
   B B
  C C C
 D D D D

### 5.6. To print Pyramid pattern with different Alphabet symbol in every row and column

In [456]:
n = int(input("Enter your Number"))

for i in range(n):
    print(" "*(n-i), end = " ")
    for j in range(i+1):
        print(chr(65+j), end=" ")       ## if your 'print(chr(64+n-j), end=" ")' characters will start with D, D C, D C B, D C B A 
    print()

Enter your Number 4

     A
    A B
   A B C
  A B C D

## 6.  To print Inverted Pyramid pattern with * symbol

In [448]:
n = int(input("Enter your Number"))

for i in range(n):
    print((" "*i)+"* "*(n-i))   ## we put just i because we dont need any spaces i=0 so no spaces is given.

Enter your Number 4

* * * *
 * * *
  * *
   *

### 6.1. To print Inverted Pyramid pattern with fixed digit

In [449]:
n = int(input("Enter your Number"))

for i in range(n):
    print((" "*i)+(str(n)+" ")*(n-i))

Enter your Number 4

4 4 4 4
 4 4 4
  4 4
   4

### 6.2. To print Inverted Pyramid pattern with different digit in every row

In [450]:
n = int(input("Enter your Number"))

for i in range(n):
    print((" "*(i))+(str(n-i)+" ")*(n-i))

Enter your Number 4

4 4 4 4
 3 3 3
  2 2
   1

### 6.3. To print Inverted Pyramid pattern with different digit iu every row and column

In [451]:
n = int(input("Enter your Number"))

for i in range(n):
    print(" "*i, end = "")  
    for j in range(n-i):
        print(j+1, end=" ")
    print()

Enter your Number 4

1 2 3 4
 1 2 3
  1 2
   1

### 6.4. To print Inverted Pyramid pattern with fixed Alphabet symbol

In [453]:
n = int(input("Enter your Number"))

for i in range(n):
    print((" "*i)+"A "*(n-i))

Enter your Number 4

A A A A
 A A A
  A A
   A

### 6.5. To print Inverted Pyramid pattern with Different Alphabet symbol in every row

In [454]:
n = int(input("Enter your Number"))

for i in range(n):
    print((" "*i)+(chr(65+i)+" ")*(n-i))   ## opposite use 'print((" "*(n+i+1))+(chr(64+n-i)+" ")*(n-i))'

Enter your Number 4

A A A A
 B B B
  C C
   D

### 6.6. To print Inverted Pyramid pattern with Different Alphabet symbol in every row and column

In [455]:
n = int(input("Enter your Number"))

for i in range(n):
    print(" "*i, end = "")
    for j in range(n-i):
        print(chr(65+j), end=" ")
    print()

Enter your Number 4

A B C D
 A B C
  A B
   A

## 7. Right Half Diamond Pattern with * symbols

In [401]:
n = int(input("Enter your Number"))

for i in range(n):
    print("* "*(i+1))
for i in range(n):
    print("* "*(n-i-1))    ## instead of (n-i) i gave (n-i-1) here '-1' will delete the dopulicate line.

Enter your Number 4

*
* *
* * *
* * * *
* * *
* *
*

### 7.1. Right Half Diamond Pattern with fixed Digit

In [812]:
n = int(input("Enter your Number"))

for i in range(n):
    print((str(n)+" ")*(i+1))
for i in range(n):
    print((str(n)+" ")*(n-i-1)) ## -1 delete the duplicate top and you can use -1 in above (i+1) which will result will be same.

Enter your Number 4

4
4 4
4 4 4
4 4 4 4
4 4 4
4 4
4

### 7.2. Right Half Diamond Pattern with different Digits in every row

In [439]:
n = int(input("Enter your Number"))

for i in range(n):
    print((str(i+1)+" ")*(i+1))
for i in range(n):
    print((str(n-i-1)+" ")*(n-i-1))

Enter your Number 4

1
2 2
3 3 3
4 4 4 4
3 3 3
2 2
1

### 7.3. Right Half Diamond Pattern with different Digit¶ in every row and column

In [364]:
n = int(input("Enter your Number"))

for i in range(n):
    for j in range(i+1):
        print(j+1, end =" ")
    print()
for i in range(n):
    for j in range(n-i-1):
        print(j+1, end =" ")
    print()

Enter your Number 4

1
1 2
1 2 3
1 2 3 4
1 2 3
1 2
1

### 7.4. Right Half Diamond Pattern with fixed alphabet symbols

In [445]:
n = int(input("Enter your Number"))

for i in range(n):
    print("A "*(i+1))
for i in range(n):
    print("A "*(n-i-1))   ## if (n-1) there will be duplicate top inorder to remove i have add -1 in (n-i).

Enter your Number 4

A
A A
A A A
A A A A
A A A
A A
A

### 7.5. Right Half Diamond Pattern with alphabet symbols in every row

In [357]:
n = int(input("Enter your Number"))

for i in range(n):
    print((chr(65+i)+" ")*(i+1))
for j in range(n):
    print((chr(63+n-j)+" ")*(n-j-1))

Enter your Number 4

A
B B
C C C
D D D D
C C C
B B
A

### 7.6. Right Half Diamond Pattern with alphabet symbols in every row and column

In [374]:
n = int(input("Enter your Number"))

for i in range(n):
    for j in range(i+1):
        print(chr(65+j), end=" ")
    print()
for i in range(n):
    for j in range(n-i-1):
        print((chr(65+j)), end =" ")
    print()

Enter your Number 4

A
A B
A B C
A B C D
A B C
A B
A

## 8. Diamond Pattern with * symbols

In [651]:
n = int(input("Enter your Number"))

for i in range(n):
    print(" "*(n-i)+"* "*(i+1))
for i in range(n):
    print((" "*(i+2))+"* "*(n-i-1))

Enter your Number 4

    *
   * *
  * * *
 * * * *
  * * *
   * *
    *

### 8.1. Diamond Pattern with fixed digits symbols

In [490]:
n = int(input("Enter your Number"))

for i in range(n):
    print(" "*(n-i)+(str(n)+" ")*(i+1))
for i in range(n):
    print(" "*(i+2)+(str(n)+" ")*(n-i-1))

Enter your Number 4

    4
   4 4
  4 4 4
 4 4 4 4
  4 4 4
   4 4
    4

### 8.2. Diamond Pattern with different digits symbols in each row

In [525]:
n = int(input("Enter your Number"))

for i in range(n):
    print((" "*(n-i-1)+(str(i+1)+" ")*(i+1)))

for i in range(n):
    print(" "*(i+1)+(str(n-i-1)+" ")*(n-i-1))

Enter your Number 4

   1
  2 2
 3 3 3
4 4 4 4
 3 3 3
  2 2
   1

### 8.3. Diamond Pattern with different digits symbols in each row and column

In [537]:
n = int(input("Enter your Number"))

for i in range(n):
    print(" "*(n-i-1), end = " ")
    for j in range(i+1):
        print(str(j+1), end= " ")
    print()
for i in range(n):
    print(" "*(i+1), end=" ")
    for j in range(n-i-1):
        print(str(j+1), end= " ")
    print()

Enter your Number 4

    1
   1 2
  1 2 3
 1 2 3 4
  1 2 3
   1 2
    1

### 8.4. Diamond Pattern with fixed alphabet symbols

In [544]:
n = int(input("Enter your Number"))

for i in range(n):
    print((" "*(n-i-1))+"A "*(i+1))
for i in range(n):
    print((" "*(i+1))+"A "*(n-i-1))

Enter your Number 4

   A
  A A
 A A A
A A A A
 A A A
  A A
   A

### 8.5. Diamond Pattern with different alphabet symbols in each row

In [556]:
n = int(input("Enter your Number"))

for i in range(n):
    print((" "*(n-i-1))+(chr(65+i)+" ")*(i+1))
for i in range(n):
    print((" "*(i+1))+(chr(64+n-i-1)+" ")*(n-i-1))

Enter your Number 4

   A
  B B
 C C C
D D D D
 C C C
  B B
   A

### 8.6. Diamond Pattern with different alphabet symbols in each row and column

In [707]:
n = int(input("Enter your Number"))

for i in range(n):
    print(" "*(n-i-1), end= " ")
    for j in range(i+1):
        print(chr(65+j), end=" ")
    print()
for i in range(n):
    print(" "*(i+1), end= " ")
    for j in range(n-i-1):
        print(chr(65+j), end= " ")
    print()

Enter your Number 4

    A
   A B
  A B C
 A B C D
  A B C
   A B
    A

## 9. Left Half Diamond Pattern with * symbols

In [656]:
n = int(input("Enter your Number"))

for i in range(n):
    print(("  "*(n-i-1))+"* "*(i+1))       ## Need to ADD doble space in '"  "*(n-i-1)'
for i in range(n):
    print(("  "*(i+1))+"* "*(n-i-1))

Enter your Number 4

      *
    * *
  * * *
* * * *
  * * *
    * *
      *

### 9.1. Left Half Diamond Pattern with fixed digits symbols

In [659]:
n = int(input("Enter your Number"))

for i in range(n):
    print("  "*(n-i-1)+(str(n)+" ")*(i+1))
for i in range(n):
    print("  "*(i+1)+(str(n)+" ")*(n-i-1))

Enter your Number 4

      4
    4 4
  4 4 4
4 4 4 4
  4 4 4
    4 4
      4

### 9.2. Left Half Diamond Pattern with different digits symbols in each row

In [664]:
n = int(input("Enter you Number"))

for i in range(n):
    print("  "*(n-i-1)+(str(i+1)+" ")*(i+1))
for i in range(n):
    print("  "*(i+1)+(str(n-i-1)+" ")*(n-i-1))

Enter you Number 4

      1
    2 2
  3 3 3
4 4 4 4
  3 3 3
    2 2
      1

### 9.3. Left Half Diamond Pattern with different digits symbols in each row and column

In [668]:
n = int(input("Enter your Number"))

for i in range(n):
    print("  "*(n-i-1), end= " ")
    for j in range(i+1):
        print(j+1, end=" ")
    print()
for i in range(n):
    print("  "*(i+1), end=" ")
    for j in range(n-i-1):
        print(j+1, end=" ")
    print()

Enter your Number 4

       1
     1 2
   1 2 3
 1 2 3 4
   1 2 3
     1 2
       1

### 9.4. Left Half Diamond Pattern with fixed alphabet symbols

In [672]:
n = int(input("Enter your Number"))

for i in range(n):
    print("  "*(n-i-1)+"A "*(i+1))
for i in range(n):
    print("  "*(i+1)+"A "*(n-i-1))

Enter your Number 4

      A
    A A
  A A A
A A A A
  A A A
    A A
      A

### 9.5. Left Half Diamond Pattern with different alphabet symbols in each row

In [678]:
n = int(input("Enter your Number"))

for i in range(n):
    print("  "*(n-i-1)+(chr(65+i)+" ")*(i+1))
for i in range(n):
    print("  "*(i+1)+(chr(63+n-i)+" ")*(n-i-1))

Enter your Number 4

      A
    B B
  C C C
D D D D
  C C C
    B B
      A

### 9.6. Left Half Diamond Pattern with different alphabet symbols in each row and column¶

In [705]:
n = int(input("Enter your Number"))

for i in range(n):
    print("  "*(n-i-1), end=" ")
    for j in range(i+1):
        print(chr(65+j), end=" ")
    print()
for i in range(n):
    print("  "*(i+1), end=" ")
    for j in range(n-i-1):
        print(chr(65+j), end = " ")
    print()

Enter your Number 4

       A
     A B
   A B C
 A B C D
   A B C
     A B
       A

## 10. Top Half Hallow Diamond Pattern with *

In [712]:
n = int(input("Enter your Number"))

for i in range(n):
    print("  "*(n-i-1)+"*", end=" ")
    if i >=1:
        print("  "*(2*i-1)+"*", end=" ")
    print()

Enter your Number 4

      *
    *   *
  *       *
*           *

### 10.1. Top Half Hallow Diamond Pattern with fixed digits symbols

In [720]:
n = int(input("Enter your Number"))

for i in range(n):
    print(("  "*(n-i-1))+str(n), end=" ")
    if i >=1:
        print("  "*(2*i-1)+str(n), end=" ")
    print()

Enter your Number 4

      4
    4   4
  4       4
4           4

### 10.2. Top Half Hallow Diamond Pattern with different digits symbols in each row

In [723]:
n = int(input("Enter your Number"))

for i in range(n):
    print("  "*(n-i-1)+str(i+1), end = " ")
    if i >=1:
        print(("  "*(2*i-1))+str(i+1), end =" ")
    print()

Enter your Number 4

      1
    2   2
  3       3
4           4

### 10.3. Top Half Hallow Diamond Pattern with fixed alphabet symbols¶

In [738]:
n = int(input("Enter your Number"))

for i in range(n):
    print("  "*(n-i-1)+"A ", end=" ")
    if i >= 1:
        print("  "*(2*i-1)+"A ", end = " ")
    print()

Enter your Number 4

      A
    A    A
  A        A
A            A

### 10.4. Top Half Hallow Diamond Pattern with different alphabet symbols in each row

In [740]:
n = int(input("Enter your Number"))

for i in range(n):
    print("  "*(n-i-1)+chr(65+i), end = " ")
    if i >= 1:
        print("  "*(2*i-1)+chr(65+i), end = " ")
    print()

Enter your Number 4

      A
    B   B
  C       C
D           D

## 11. Bottom Half Hallow Diamond Pattern with *¶

In [771]:
n=int(input("Enter your Number"))

for i in range(n):
    print("  "*(i)+"*", end=" ")
    if i != (n-1):
        print("  "*(2*n-2*i-3)+"*", end=" ")
    print()

Enter your Number 4

*           *
  *       *
    *   *
      *

### 11.1. Bottom Half Hallow Diamond Pattern with fixed digits symbols¶

In [774]:
n = int(input("Enter your Number"))

for i in range(n):
    print("  "*(i)+str(n), end=" ")
    if i != (n-1):
        print("  "*(2*n-2*i-3)+str(n), end=" ")
    print()

Enter your Number 4

4           4
  4       4
    4   4
      4

In [868]:
n = int(input("Enter your Number"))

for i in range(n):
    print("  "*(i)+str(i+1), end=" ")
    if i !=(n-1):
        print("  "*(2*n-2*i-3)+str(i+1), end= " ")
    print()

Enter your Number 4

1           1
  2       2
    3   3
      4

In [855]:
n=int(input("Number"))

for i in range(n):
    print(" "*(i), end=" ")
    for j in range(n-i):
        print(str(j+1), end = " ")
    print()
for i in range(n-1):
    print(" "*(n-i-2), end=" ")
    for j in range(i+2):
        print(str(j+1), end = " ")
    print()

Number 4

 1 2 3 4
  1 2 3
   1 2
    1
   1 2
  1 2 3
 1 2 3 4

In [918]:
n =int(input("Enter your Number"))


for i in range(n):
    print("  "*(i)+(chr(65+i)), end = " ")
    if i !=(n-1):
        print(("  "*(n*2-i*2-3))+(chr(65+i)), end=" ")
    print()

Enter your Number 4

A           A
  B       B
    C   C
      D